{% extends "tracker_base.html" %}

{% load tracker %}
{% block tracker_header_add %}
    {% category %}
    {% num_page num_page %}
{% endblock %}

{% block tracker_main %}
        <div class="span-22">
            <table>
                <thead>
            <tr><th class="span-2 a-center">Category</th>
                <th class="span-16 a-center">Torrent</th>
                <th class="span-1 a-center">S</th>
                <th class="span-1 a-center">L</th>
                <th class="span-1 a-center">C</th>
                <th class="span-2 a-center">Transfer</th>
            </tr>
            </thead>
{% for torrent in torrents %}
<tr>
    <td class="a-center v-center">
        {% if torrent.t.category.img_url %}<img src="{{ torrent.t.category.img_url }}"  alt="{{ torrent.t.category }}"/>
        {% else %}<a href="{% url simplebtt.tracker.views.torrent_list torrent.t.category|escape %}"><b>{{ torrent.t.category }}</b></a>{% endif %}</td>
<td><a href="/tmedia/{{ torrent.t.file_path }}">{{ torrent.t.name}}</a> | <a href="/info/{{ torrent.t.id }}">[info]</a><br/>
Size: <b>{{ torrent.t.size|filesizeformat }}</b> | Date add: {{ torrent.t.creation_date|date:"r" }} <br/> 
{% if torrent.t.description %} Description: <i>{{ torrent.t.description|striptags|truncatewords:7 }}</i>
{% endif %}
    </td>
    <td class="a-center">{{ torrent.seed }}</td>
    <td class="a-center">{{ torrent.leech }}</td>
    <td class="a-center">{{ torrent.t.completed }}</td>
    <td class="a-center">{{ torrent.t.b_transfer|filesizeformat }}</td>
</tr>
{% endfor %}
</table>
<div class="a-center span-22">
    {% block tracker_main_botton %}
    {% num_page num_page %}
    {% endblock %}
</div>
</div>

{% endblock %}
