{% extends "simplebtt-base-2.html" %}
{% block sidebar %}
{% endblock %}
{% block content %}
<div class="span-16 prepend-4">
    <h6>Add torrent...</h6>
    <form enctype="multipart/form-data" action="." method="POST">
        <table>
            {{ form.as_table }}
            <tr>
                <th>Sumbit:</th>
                <td><input type="submit" value="Submit"></td>  
            </tr>
        <table>
        {% comment %}        <table>
            <tr>
                <th>Select torrent file:</th>
                <td>{{ form.file_path }} <input type="submit" value="Submit"></p></td>  
            </tr>
            <tr>
                <th>Category:</th>
                <td>{{ form.category }}</td>
            </tr>
            <tr>
                <th>Description:</th>
                <td>   {{ form.description }} </td>
            </tr>
        </table>
        {% endcomment %}
</form>
</div>
{% endblock %}
