<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="SimpleBTT - minimalistic bittorent tracker  based on django framework" />
<meta name="keywords" content="bittorent, tracker, torrent, python, django, linux, framework" />
<meta name="author" content="Unknown"/>
<link rel="stylesheet" type="text/css" href="/tmedia/style.css" media="screen" />
<title>{% block title %}SimpleBTT, です。。。{% endblock %}</title>
</head>
<body>
<div id="header">
<h1>「apkawa」</h1>
<h3>Simple BitTorrent Tracker (simplebtt) based on django. です</h3>
</div><!--//end #header//-->
<div id="centerColumn" class="clearfix">

		<div id="rightColumn"> 
		<h2>Index</h2>
		{% block right %}
		
		{% endblock %}
		<div id="tags">		
		</div><!--//end #tags//-->		
		</div><!--//end #rightColumn//-->

{% block content %} 


{% endblock %}

</div>
<!--//end #centerColumn//-->

<div id="footer">Copyright &copy; - Company Name  
		<a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10-blue"
        alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
</div><!--//end #footer//-->
</body>
</html>