{% extends "base.html" %}
{% block sidebar %}
{% endblock %}
{% block content %}


<table>


<tr>	<td>Category</td>
	<td>Torrent</td>
	<td>S</td>
	<td>L</td>
	<td>C</td>
	<td>Transfer</td></tr>

{% for torrent in torrents %}
<tr>
	<td>
	{% if torrent.category.img_url %}
	<img src="{{ torrent.category.img_url }}"  alt="{{ torrent.category }}" width="50" height="50" />
	
	{% else %}
	<b>{{ torrent.category }}</b></td>
	{% endif %}
	<td><a href="tmedia/{{ torrent.file_path }}">{{ torrent.name}}</a> | <a href="info/{{ torrent.id }}">[info]</a>
	<p>Size: {{ torrent.size|filesizeformat }} | Date: {{ torrent.date|date:"r" }} | Description: {{ torrent.desc|truncatewords:5 }}</p>
	</td>
	<td>{{ torrent.seed }}</td>
	<td>{{ torrent.leech }}</td>
	<td>{{ torrent.complete }}</td>
	<td>{{ torrent.b_transfer|filesizeformat }}</td>
	
</tr>
 	 	  	
{% endfor %}
</table>

<p>Summary Tracker Info
<table>
<tr>
	<td>Total Space Used</td>
	<td>Seeders</td>
	<td>Leechers</td>
	<td>Completed DL</td>
	<td>Bytes Transferred </td>
</tr>
<tr>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
</tr>
</table>
</p>

{% endblock %}