{% extends "simplebtt-base.html" %}
{% block sidebar %}
{% endblock %}
{% block content %}
        <div class="box content">
            <h3>Category</h3>
			<div class="box">
				<ul class="menu-h a-center">
					<li></li>
					<li><a href="/">all</a></li>
            {% for c in category %}
					<li><a href="/category/{{ c.name }}">{{ c.name }}</a></li>
            {% endfor %}
                </ul>
            </div>

            <h3>Torrents</h3>
            <table>
            <tr><th>Category</th>
                <th>Torrent</th>
                <th>S</th>
                <th>L</th>
                <th>C</th>
                <th>Transfer</th>
            </tr>
{% for torrent in torrents %}
<tr>
    <td class="a-center v-center">{% if torrent.t.category.img_url %}<img src="{{ torrent.t.category.img_url }}"  alt="{{ torrent.t.category }}"/>        {% else %}<a href="/category/{{ torrent.t.category }}"><b>{{ torrent.t.category }}</b></a>{% endif %}</td>
<td><a href="tmedia/{{ torrent.t.file_path }}">{{ torrent.t.name}}</a> | <a href="info/{{ torrent.t.id }}">「info」</a><br/>
        Size: {{ torrent.t.size|filesizeformat }} | Date add: {{ torrent.t.creation_date|date:"r" }} <br/> 
        Description: {{ torrent.t.description|truncatewords:5 }}</td>
	<td class="a-center">{{ torrent.seed }}</td>
	<td class="a-center">{{ torrent.leech }}</td>
	<td class="a-center">{{ torrent.t.completed }}</td>
	<td class="a-center">{{ torrent.t.b_transfer|filesizeformat }}</td>
</tr>{% endfor %}
</table>
<h3>Summary Tracker Info</h3>
<table>
<tr>
    <th>Total Space Used</th>
    <th>Seeders</th>
    <th>Leechers</th>
    <th>Completed DL</th>
    <th>Bytes Transferred </th>
</tr>
<tr class="a-center">
    <td>{{ stat.s.all_size|filesizeformat }}</td>
    <td>{{ stat.s.seeds }}</td>
    <td>{{ stat.s.leechs }}</td>
    <td>{{ stat.s.completeds }}</td>
    <td>{{ stat.s.b_transfers|filesizeformat }}</td>
</tr>
</table>

</div>
{% endblock %}
